@using Agronet.Models;
@{
    ViewBag.Title = "DivisionImages";
    Agronet.Models.Sessions.sessionCountryId ind = (Agronet.Models.Sessions.sessionCountryId)Session["sessionCountryId"];
    DEAQ db = new DEAQ();
    int CountryId, DivisionId;
    if (ind != null)
    {
        CountryId = ind.CountryId;
        DivisionId = ind.DivisionId;
    }
    else
    {
        CountryId = 0;
        DivisionId = 0;
    }
}

<br />
<br />
<ol class="breadcrumb">
    <li><a href="@Url.Content("~/Laboratories/Index")" class="ldr">Laboratorios</a></li>
    <li class="active">Imagenes de Laboratorio</li>
</ol>
<br />
<div class="row">
    <div class="col-lg-5" style="border:none">
        <table class="widthtable" border="0">
            <tr>
                <td style="width:20%">
                    <label class="title-filter">País:</label>
                </td>
                <td>
                    @{
                        var c = db.Countries.Where(x => x.CountryId == CountryId).ToList();

                        <span style="font-style:italic; font-weight:bold">@c[0].CountryName</span>
                    }
                </td>
            </tr>
            @{
                var divs = db.Divisions.Where(x => x.DivisionId == DivisionId).ToList();
                <tr>
                    <td>
                        <label class="title-filter">Razón Social:</label>
                    </td>
                    <td>
                        <span style="font-style:italic; font-weight:bold" id="lblDivisionName" class="show-dataD">@divs[0].DivisionName</span>
                        <textarea class="form-control edit-dataD" style="font-size:12px; color:red; display:none" id="txtDivisionName">@divs[0].DivisionName</textarea>
                        <input type="text" id="lblDivisionId" value="@divs[0].DivisionId" style="display:none" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="title-filter">Nombre Corto:</label>
                    </td>
                    <td>
                        <span style="font-style:italic; font-weight:bold" id="lblShortName" class="show-dataD">@divs[0].ShortName</span>
                        <textarea class="form-control edit-dataD" style="font-size:12px; color:red;display:none" id="txtShortName">@divs[0].ShortName</textarea>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>
<br />
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3 text-right">
        <label class="title-filter">Seleccione Tamaño:</label>
    </div>
    <div class="col-lg-4">
        <select class="form-control" id="SelectDivisionImageSize">
            <option value="0" id="val_0">Seleccione...</option>
            @{
                List<ImageSizes> LIS = db.ImageSizes.Where(x => x.Active == true).OrderBy(x => x.Size).ToList();

                foreach (ImageSizes item in LIS)
                {
                    <option value="@item.ImageSizeId">@item.Size</option>
                }
            }
        </select>
    </div>
    <div class="col-lg-3">

    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-3 text-right">
        <label class="title-filter">Selecione Imagen:</label>
    </div>
    <div class="col-lg-4">
        <div style="display:normal;border:none;" id="DivAddProductShot">
            <form enctype="multipart/form-data" method="post" id="SendProductShot">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip;
                        </span>
                        <input id="uploadBtn" type="file" accept="image/png" name="file" style="display:none" onchange="AddProductShot($(this))" />
                    </label>
                    <input type="text" class="form-control" readonly id="txtFileName">
                </div>
            </form>
        </div>
        <br />
        <br />
        <div>
            <button class="btn btn-primary btn-sm" onclick="SaveProductShot($(this))">
                <span class="glyphicon glyphicon-saved"></span>
                <span>&nbsp; Guardar</span>
            </button>
            <button class="btn btn-danger btn-sm" onclick="CanceladdProductShot($(this))">
                <span class="glyphicon glyphicon-remove"></span>
                <span>&nbsp; Cancelar</span>
            </button>
        </div>
    </div>
    <div class="col-lg-3">

    </div>
</div>
<br />
<br />