@model IEnumerable<GetHomogeneousCategories>
@using Guianet.Models;
@{
    ViewBag.Title = "Categories";
    GuiaEntities db = new GuiaEntities();
    List<GetHomogeneousCategories> Cats = new List<GetHomogeneousCategories>();
}

<br />
<br />
<ol class="breadcrumb">
    <li><a href="@Url.Content("~/LI/Categories")" class="ldr">LI</a></li>
    <li class="active">Categorías</li>
</ol>
<br />
<br />

<button class="btn btn-success" onclick="OpenformAddCategoryLevel3()">
    <span class="glyphicon glyphicon-upload"></span>
    <span>&nbsp; Agregar tercer nivel</span>
</button>

<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-5">
        <div>
            <div class="scrollbar1">
                @{
                    <ul style="list-style: none;">
                        @foreach (GetHomogeneousCategories _cat in Model)
                    {
                            <li>
                                <button class="btn btn-success btn-sm" style="border-radius:50%" value="@_cat.HomogeneousCategory" onclick="GetDataAddCategory(@_cat.HomogeneousCategoryId, $(this))">
                                    <span class="glyphicon glyphicon-plus" style="position:static"></span>
                                </button>
                                <span class="glyphicon glyphicon-plus" id="Expand_@_cat.HomogeneousCategoryId" onclick="getlevel4LI(@_cat.HomogeneousCategoryId)" style="cursor:pointer"></span>
                                <span class="glyphicon glyphicon-minus" style="display:none;cursor:pointer" id="Collapse_@_cat.HomogeneousCategoryId" onclick="collapselevel4LI(@_cat.HomogeneousCategoryId)"></span>
                                <label style="font-weight:100;cursor:pointer" data-toggle="tooltip" title="Doble click en el Nombre para Editar @_cat.HomogeneousCategory" ondblclick="OpenEditCategory($('@_cat.HomogeneousCategoryId'),$('@_cat.HomogeneousCategory'))">@_cat.HomogeneousCategory</label>
                                <ul id="ListL2_@_cat.HomogeneousCategoryId" style='margin-left:30px; list-style:initial'></ul>
                            </li>
                    }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-7" style="border:none">
        <div class="modal-dialog" id="ModalAddCategory" style="display:none">
            <div class="modal-content">
                <div class="modal-header label-primary">
                    <h4 class="modal-title" id="TextCategoryName" style="font-style:italic"></h4>
                    <input type="text" class="form-control" id="TextCategoryId" style="display:none"/>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row" style="vertical-align:bottom">
                        <div class="labelsform col-lg-2">
                            Categoría:
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback" id="divCategoryName" style="margin-bottom: 0;">
                                <input type="text" class="form-control" id="CategoryName" style="text-transform:uppercase" placeholder="Categoría" onkeypress="removerequieredfieldCats()" />
                                <span class="glyphicon glyphicon-remove form-control-feedback errorC" style="display:none"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="alert alert-success" id="AlertSuccess" style="display:none">
                       <span class="glyphicon glyphicon-ok"></span> <span>&nbsp; La Categoría se agrego correctamente.</span>
                    </div>
                    <div class="alert alert-danger" id="AlertError" style="display:none">
                        <span class="glyphicon glyphicon-remove"></span> <span>&nbsp; La Categoría ya existe.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SaveCategory()">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span>&nbsp; Guardar</span>
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CancelAddCategory()">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>&nbsp; Cancelar</span>
                    </button>
                </div>
            </div>

        </div>

        <div class="modal-dialog" id="ModalAddCategoryThree" style="display:none">
            <div class="modal-content">
                <div class="modal-header label-primary">
                    <h4 class="modal-title" style="font-style:italic">CATEGORÍA NIVEL 3</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row" style="vertical-align:bottom">
                        <div class="labelsform col-lg-2">
                            Categoría:
                        </div>
                        <div class="col-lg-10">
                            <div class="form-group has-feedback" id="divCategoryName3" style="margin-bottom: 0;">
                                <input type="text" class="form-control" id="CategoryName3" style="text-transform:uppercase" placeholder="Categoría" onkeypress="removerequieredfieldCats3()" />
                                <span class="glyphicon glyphicon-remove form-control-feedback errorC3" style="display:none"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="alert alert-success" id="AlertSuccess3" style="display:none">
                        <span class="glyphicon glyphicon-ok"></span> <span>&nbsp; La Categoría se agrego correctamente.</span>
                    </div>
                    <div class="alert alert-danger" id="AlertError3" style="display:none">
                        <span class="glyphicon glyphicon-remove"></span> <span>&nbsp; La Categoría ya existe.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SaveCategory3()">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span>&nbsp; Guardar</span>
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="CancelAddCategory3()">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>&nbsp; Cancelar</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<button id="BtnEditCategory" data-toggle="modal" data-target="#ModalEditCategory" style="display:none"></button>
<div class="modal fade" id="ModalEditCategory" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="color:white" id="messageerror"><i>Editar Categoría</i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <input type="text" id="inputCategoryThreeId" style="display:none" />
                <input type="text" id="InputCategoryThree" class="form-control" style="color:red;text-transform:uppercase"/>
            </div>
            <div class="modal-footer" id="divbtncloseerror">
                <button class="btn btn-primary" onclick="EditCategoriesLI()">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>&nbsp; Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<button id="BtnEditLeafCategory" data-toggle="modal" data-target="#ModalEditLeafCategory" style="display:none"></button>
<div class="modal fade" id="ModalEditLeafCategory" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header label-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="color:white" id="messageerror"><i>Editar Categoría</i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <input type="text" id="inputLeafCategoryId" style="display:none" />
                <input type="text" id="InputLeafCategory" class="form-control" style="color:red;text-transform:uppercase" />
            </div>
            <div class="modal-footer" id="divbtncloseerror">
                <button class="btn btn-primary" onclick="EditLeafCategoriesLI()">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
                <button class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>&nbsp; Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>