@model Web.Models.CompanySections
@using Web.Models;
@{
    Layout = null;
    DEACI_20150917Entities db = new DEACI_20150917Entities();
}
<script src="~/Bootstrap/js/JavaScript1.js"></script>
<link href="~/Styles/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $("._AgregarClienteSección").click(function () {
            var _SectionId = $(this).attr("Id");
            var _CompanyId = $("#_CompanyId").val();
            if (_SectionId == "Seleccione...") {
                swal("¡Atención!", "¡El campo 'Nombre de la sección' no puede quedar vacio!", "error");
            }
            else if (_SectionId != "Seleccione...") {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Ventas/AgregarClienteSección",
                    traditional: true,
                    data: { SectionId: _SectionId, CompanyId: _CompanyId },
                    success: function (data) {
                        if (data == true) {
                            swal("¡Cliente asociado a la sección!", "", "success")
                            setTimeout(function () { location.reload(1); }, 300);
                        }
                        else {
                            swal("¡Atención!", "¡El cliente ya está asociado a la sección seleccionada!", "error");
                        }
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("._AgregarClienteSubSección").click(function () {
            var _SectionId = $(this).attr("Id");
            var _CompanyId = $("#_CompanyId").val();
            if (_SectionId == "Seleccione...") {
                swal("¡Atención!", "¡El campo 'Nombre de la sección' no puede quedar vacio!", "error");
            }
            else if (_SectionId != "Seleccione...") {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Ventas/AgregarClienteSección",
                    traditional: true,
                    data: { SectionId: _SectionId, CompanyId: _CompanyId },
                    success: function (data) {
                        if (data == true) {
                            swal("¡Cliente asociado a la sección!", "", "success")
                            setTimeout(function () { location.reload(1); }, 300);
                        }
                        else {
                            swal("¡Atención!", "¡El cliente ya está asociado a la sección seleccionada!", "error");
                        }
                    }
                });
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("._AgregarClienteSubSubSección").click(function () {
            var _SectionId = $(this).attr("Id");
            var _CompanyId = $("#_CompanyId").val();
            if (_SectionId == "Seleccione...") {
                swal("¡Atención!", "¡El campo 'Nombre de la sección' no puede quedar vacio!", "error");
            }
            else if (_SectionId != "Seleccione...") {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Ventas/AgregarClienteSección",
                    traditional: true,
                    data: { SectionId: _SectionId, CompanyId: _CompanyId },
                    success: function (data) {
                        if (data == true) {
                            swal("¡Cliente asociado a la sección!", "", "success")
                            setTimeout(function () { location.reload(1); }, 300);
                        }
                        else {
                            swal("¡Atención!", "¡El cliente ya está asociado a la sección seleccionada!", "error");
                        }
                    }
                });
            }
        });
    });
</script>
@using (Html.BeginForm())
{
    <div class="modal-body1 Estilo2x">
        <br />
        <div>
            <div class="panel panel-warning">
                <div class="panel-body">
                    <div>
                        <div class="modal-header Estilo7 btn-nav" align="center">
                            <h1 class="modal-title btn-nav Estilo7" id="myModalLabel">Agregar cliente a sección</h1>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div>
                                    <br />
                                    <div class="modal-body1">
                                        <div class="Nota btn-nav" align="right">
                                            <img src="/Images/Sección.png" style="float:left; width:20%; height:20%;" class="img-circle" />
                                            Nota: Para asociar el cliente solamente debe de dar click en la <strong class="Red">Sección</strong> que deseé.
                                        </div>
                                        <br />
                                        <div class="Nota btn-nav" align="left">
                                            Nombre del cliente: <strong class="Estilo6">
                                                @ViewData["CompanyName"]
                                                <input type="hidden" value="@ViewData["CompanyId"]" id="_CompanyId" />
                                            </strong>
                                            <br />
                                        </div>
                                        <br />
                                        <br />
                                        <style>
                                            .tree {
                                                min-height: 20px;
                                                padding: 19px;
                                                -webkit-border-radius: 4px;
                                                -moz-border-radius: 4px;
                                                border-radius: 4px;
                                                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                                                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                                                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
                                            }

                                                .tree li {
                                                    list-style-type: none;
                                                    margin: 0;
                                                    padding: 10px 5px 0 5px;
                                                    position: relative;
                                                }

                                                    .tree li::before, .tree li::after {
                                                        content: '';
                                                        left: -20px;
                                                        position: absolute;
                                                        right: auto;
                                                    }

                                                    .tree li::before {
                                                        border-left: 2px solid rgba(0, 0, 0, 0.05);
                                                        bottom: 50px;
                                                        height: 100%;
                                                        top: 0;
                                                        width: 1px;
                                                    }

                                                    .tree li::after {
                                                        border-top: 2px solid rgba(0, 0, 0, 0.05);
                                                        height: 20px;
                                                        top: 25px;
                                                        width: 25px;
                                                    }

                                                    .tree li span {
                                                        -moz-border-radius: 5px;
                                                        -webkit-border-radius: 5px;
                                                        border: 1px solid rgba(248, 236, 153, 0.80);
                                                        border-radius: 5px;
                                                        display: inline-block;
                                                        padding: 3px 8px;
                                                        text-decoration: none;
                                                    }

                                                    .tree li.parent_li > span {
                                                        cursor: pointer;
                                                    }

                                                .tree > ul > li::before, .tree > ul > li::after {
                                                    border: 0;
                                                }

                                                .tree li:last-child::before {
                                                    height: 30px;
                                                }

                                                .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
                                                    border: 1px solid rgba(248, 236, 153, 0.80);
                                                    color: #000;
                                                }
                                        </style>
                                        <script>
                                            $(function () {
                                                $('.tree li:has(ul)').addClass('parent_li').find(' > i').attr('title', 'Collapse this branch');
                                                $('.tree li.parent_li > i').on('click', function (e) {
                                                    var children = $(this).parent('li.parent_li').find(' > ul > li');
                                                    if (children.is(":visible")) {
                                                        children.hide('fast');
                                                        $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
                                                    } else {
                                                        children.show('fast');
                                                        $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
                                                    }
                                                    e.stopPropagation();
                                                });
                                            });
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                $(".SubSección").hide();
                                            });
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                $(".SubSubSección").hide();
                                            });
                                        </script>
                                        <div class="tree Estilo2x" align="left">
                                            <ul>
                                                @{
    var _Secciones = (from _s in db.Sections
                      select _s).ToList();
    foreach (var Sección in _Secciones)
    {
        if (Sección.SectionIdParent == null)
        {
                                    <li class="Sección">
                                        @{
            var _Value = (from _s in db.Sections
                          where _s.SectionIdParent == Sección.SectionId
                          select _s).ToList();
            if (_Value.LongCount() != 0)
            {
                <i class="glyphicon glyphicon-triangle-right text-success"></i>
            }
}
                                        <span id="@Sección.SectionId" class="_AgregarClienteSección"><i class="icon-folder-open">@Sección.Description</i></span>
                                        @{
            var _SubSection = (from _s in db.Sections
                               where _s.SectionIdParent == Sección.SectionId
                               select _s).ToList();
            foreach (var Sub in _SubSection)
            {
                                    <ul>
                                        <li  class="SubSección">
                                            @{
                var _Value2 = (from _s in db.Sections
                               where _s.SectionIdParent == Sub.SectionId
                               select _s).ToList();
                if (_Value2.LongCount() != 0)
                {
                                    <i class="glyphicon glyphicon-triangle-right text-success"></i>
                }
                                            }
                                            <span id="@Sub.SectionId" class="_AgregarClienteSubSección"><i class="icon-minus-sign"></i> @Sub.Description </span>
                                            @{
                var SubSubSección = (from _s in db.Sections
                                     where _s.SectionIdParent == Sub.SectionId
                                     select _s).ToList();
                foreach (var SS in SubSubSección)
                {
                                    <ul>
                                        <li class="SubSubSección">
                                            <span id="@SS.SectionId" class="_AgregarClienteSubSubSección"><i class="icon-leaf"></i> @SS.Description</span>
                                        </li>
                                    </ul>
                }
                                            }
                                        </li>
                                    </ul>
            }
                                        }
                                    </li>
        }
    }
                                                }
                                            </ul>
                                        </div>

                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Cancelar" class="btn btn-default navbar-default btn-nav Estilo2x" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
}
<script src="~/Bootstrap/js/bootstrap.min.js"></script>
