@using Web.Models;
@{
    ViewBag.Title = "Content";
    Web.Models.Sessions.SessionLI _Session = (Web.Models.Sessions.SessionLI)Session["SessionLI"];
    Medinet db = new Medinet();

    int CountryId, DivisionId, BookId, EditionIdS;

    if (_Session != null)
    {
        CountryId = _Session.CountryId;
        DivisionId = _Session.DivisionId;
        BookId = _Session.BookId;
        EditionIdS = _Session.EditionId;
    }
    else
    {
        CountryId = 0;
        DivisionId = 0;
        BookId = 0;
        EditionIdS = 0;
    }
}
<br />
<div class="row col-md-10">
    <div class="headergroup">
        <div class="title">
            <div class="title-word" style="font-weight:normal; text-transform:none">Medinet <span style="color:#de5347">v3.0</span></div>
            <div class="title-word" style="font-weight:normal; text-transform:none;"><strong style="color:#000000;">Médicos</strong> | Laboratorios y productos</div>
        </div>
    </div>
    <br />
    <nav style="background: rgba(233, 233, 233, 0.11); border-radius: 10px;" class="navbar navbar-default">
        <input type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="sr-only">Toggle navigation</span>
                @*
                    Validar si es usuario administrador  y redireccionar al correspondiente.
                *@
                <a href="@Url.Content("~/Medical/Index")" class="btn navbar-brand zindex" title="Inicio">
                    <i style="color:#21334c" class="glyphicon glyphicon-flag"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav hov">
                    <li style="background: rgba(233, 233, 233, 0.01);" class="dropdown navbar-default hov">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Laboratorios<span style="margin-left:5px;" class="caret"></span></a>
                        <ul class="dropdown-menu vertical" role="menu">
                            <li>
                                <div id="custom-search-input">
                                    <div class="input-group col-md-11">
                                        <input id="char" type="text" class="form-control" placeholder="Buscar" />
                                    </div>
                                </div>
                            </li>
                            <li><p></p></li>
                            @{
                                List<Divisions> _getDivisions = db.Database.SqlQuery<Divisions>("plm_spGetDivisionsByCountry @countryId=" + _Session.CountryId).ToList();
                                foreach (var _row in _getDivisions)
                                {
                                    <li class="searchlab"><a class="zindex" href="@Url.Content("~/Medical/Content?CId=" + @_row.CountryId + "&BId=" + @BookId + "&EId="+ EditionIdS + "&DId=" + @_row.DivisionId)">@_row.Description</a></li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav hov">
                    <li style="background: rgba(233, 233, 233, 0.01);" class="dropdown navbar-default hov">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exportar productos<span style="margin-left:5px;" class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="report"><span class="glyphicon glyphiconr glyphicon glyphicon-export text-success"></span>Exportar a Excel</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn navbar-brand" title="Anterior" onclick="history.back();">
                            <i style="color:#21334c" class="glyphicon glyphicon-arrow-left"></i>
                        </a>
                        <a class="btn navbar-brand" title="Siguiente" onclick="history.forward();">
                            <i style="color:#21334c" class="glyphicon glyphicon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="qa-message-list col-md-12 col-xs-12" id="wallmessages">
        <div class="message-item" id="m16">
            <div class="message-inner">
                <div class="avatar pull-left"></div>
                <div class="user-detail">
                    <div class="post-meta">
                        <div class="asker-meta">
                            <div class="title_new" align="left">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var c = db.Countries.Where(x => x.CountryId == CountryId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">País: <span style="color: #de5145">@c[0].CountryName</span> </span>
                                    </p>
                                </div>
                            </div>
                            <div class="title_new" align="left">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var b = db.Books.Where(x => x.BookId == BookId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">Obra: <span style="color: #de5145">@b[0].Description</span> </span>
                                    </p>
                                </div>
                            </div>
                            <div class="title_new" align="left">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var e = db.Editions.Where(x => x.EditionId == EditionIdS).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">Edición: <span style="color: #de5145">@e[0].NumberEdition</span> </span>
                                    </p>
                                </div>
                            </div>
                            <div class="title_new">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var d = db.Divisions.Where(x => x.DivisionId == DivisionId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size: 18px; text-transform: none; font-weight: normal;">Laboratorio: <span style="color: #de5145; ">@d[0].Description</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div style="width:0;" class="col-md-1"></div>
<div class="row col-md-2">
    <div class="title_new">
        <div class="title-word_new">
            <div class="well well-white mini-profile-widget">
                <div class="image-container" align="center">
                    <img src="@Url.Content("~/Images/no.png")" class="img-responsive" alt="avatar">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" align="center">
    <div class="col-lg-12">
        <span class="Titles">Productos</span>
    </div>
</div>
<br />
<script src="~/Scripts/DataTables/jqueryDataTablesProducts.js"></script>
<script src="~/Scripts/DataTables/dataTables.scroller.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('#TableClasificationProducts').dataTable({
            //"columnDefs": [{ "searchable": false, "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] }],
            "language": {
                "lengthMenu": '<div class="col-md-3">' + 'Mostrar <select class="form-control input-sm">' +
                  '<option value="10">10</option>' +
                  '<option value="20">20</option>' +
                  '<option value="30">30</option>' +
                  '<option value="40">40</option>' +
                  '<option value="50">50</option>' +
                  '<option value="-1">Todo</option>' +
                  '</select> productos' + '</div>'
            }
        });
    });
</script>

<div class="row">
    <div class="col-lg-12  table-responsive">
        <table border="1" class="table table-hover table-responsive" id="TableClasificationProducts">
            <thead>
                <tr>
                    <th class="tdback">
                        <label style="font-size:12px; font-weight:100">Producto</label>
                    </th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Forma Farmacéutica</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Categoría</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Tipo de Producto</label></th>


                    <th class="tdback"><label style="font-size:12px; font-weight:100">Sustancias</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">ATC EphMRA</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">CIE-10</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Contraindicaciones</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">ATC OMS</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Vías de Administración</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Interacciones</label></th>
                    <th class="tdback"><label style="font-size:12px; font-weight:100">Indicaciones</label></th>

                    <th class="tdback"><label style="font-size:12px; font-weight:100">Clasificar</label></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Web.Models.Class.plm_spGetProductsbyDivisionbyCountry item in Model)
                    {
                        <tr>
                            <td>
                                <label class="labelcnttbl">@item.Product</label>
                                <input type="text" value="@item.ProductId" id="ProductId" style="display:none" />
                            </td>
                            <td>
                                <label class="labelcnttbl">@item.PharmaceuticalForm</label>
                            </td>
                            <td>
                                <label class="labelcnttbl">@item.Category</label>
                            </td>
                            <td>
                                <select class="form-control labelcnttbl" style="color:red" id="ProductTypes" onchange="ChangeProductType($(this))">
                                    @{
                        byte ProductTypeId = 0;

                        List<ProductTypes> LPT = db.ProductTypes.Where(x => x.Active == true).OrderBy(x => x.ProductTypeId).ToList();

                        foreach (ProductTypes _pt in LPT)
                        {
                            if (_pt.TypeName.ToUpper().Trim() == item.ProductType.ToUpper().Trim())
                            {
                                <option value="@_pt.ProductTypeId" id="O_@_pt.ProductTypeId" selected="selected">@_pt.TypeName</option>

                                ProductTypeId = _pt.ProductTypeId;
                            }
                            else
                            {
                                <option value="@_pt.ProductTypeId" id="O_@_pt.ProductTypeId">@_pt.TypeName</option>
                            }
                        }
                                    }
                                </select>
                                <input type="text" value="@ProductTypeId" id="ProductTypeId" style="display:none" />
                            </td>
                            <td class="text-center">
                                @{
                                    if (item.ActiveSubstances > 0)
                                    {
                                        <input type="checkbox" checked="@true" disabled="disabled" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled" />
                                    }
                                }
                                
                            </td>
                            <td class="text-center">
                                @{
                                    if(item.TherapeuticUses >0)
                                    {
                                        <input type="checkbox" checked="@true" disabled="disabled" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled" />
                                    }
                                }
                                
                            </td>
                            <td class="text-center">
                                @{
                                    if(item.ProductICD >0)
                                    {
                                        <input type="checkbox" checked="@true" disabled="disabled" />        
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled" />
                                    }
                                }
                                
                            </td>
                            <td class="text-center">
                                <input type="checkbox" checked="@false" disabled="disabled" />
                            </td>
                            <td class="text-center">
                                @{
                                    if(item.ProductTherapeuticOMS > 0)
                                    {
                                        <input type="checkbox" checked="@true" disabled="disabled" />        
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled" />
                                    }
                                }
                                
                            </td>
                            <td class="text-center">
                                @{
                                    if(item.ProductPharmaFormRoutes >0)
                                    {
                                        <input type="checkbox" checked="@true" disabled="disabled" />  
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled" />
                                    }
                                }
                                
                            </td>
                            <td class="text-center">
                                <input type="checkbox" checked="@false" disabled="disabled" />
                            </td>
                            <td class="text-center">
                                @{
                                    if(item.ProductIndications > 0)
                                    {
                                        <input type="checkbox" checked="@true" disabled="disabled" />        
                                    }
                                    else
                                    {
                                        <input type="checkbox" disabled="disabled" />
                                    }
                                }
                                
                            </td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-primary ldr" onclick="location.href='@Url.Action("Clasification", "Medical", new { ProductId = item.ProductId, PharmaFormId = item.PharmaFormId, CategoryId = item.CategoryId, EditionId = EditionIdS })';return false;">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<button id="btnProductType" data-toggle="modal" data-target="#ProductTypeFRM" style="display:none" class="btn btn-danger btn-sm">Messages</button>
<div class="modal fade" id="ProductTypeFRM" role="dialog" style="top:25%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" style="color: #337ab7;" id="messageheader"><i></i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <label id="lblMessageModal"></label>
            </div>
            <div class="modal-footer text-center" id="divbtncloseerror">
                <button class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
            </div>
        </div>
    </div>
</div>
