@using Web.Models;
@{
    ViewBag.Title = "IMAS";

    Web.Models.Class.ClasificationSubstances Class = Model;

    WebGrid _datagridDT = new WebGrid(Class.Foods, rowsPerPage: 20);
    WebGrid _datagridAS = new WebGrid(Class.FoodsAsoc, rowsPerPage: 20);
    Medinet db = new Medinet();
    Web.Models.Sessions.SessionActiveSubstances SessionActiveSubstances = (Web.Models.Sessions.SessionActiveSubstances)Session["SessionActiveSubstances"];
    int ActiveSubstanceId = 0;
    if (SessionActiveSubstances != null)
    {
        ActiveSubstanceId = SessionActiveSubstances.ActiveSubstanceId;
    }
    else
    {
        ActiveSubstanceId = 0;
    }
}

<div class="row">
    <div class="headergroup">
        <div class="title">
            <div class="title-word" style="font-weight:normal; text-transform:none">Medinet <span style="color:#de5347">v3.0</span></div>
            <div class="title-word" style="font-weight:normal; text-transform:none;"><strong style="color:#000000;">Médicos | </strong>Clasificación de Sustancias por IMA</div>
        </div>
    </div>
</div>
<br />
<nav style="background: rgba(233, 233, 233, 0.11); border-radius: 10px;" class="navbar navbar-default center col-lg-12">
    <input type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn navbar-brand ldr" title="Anterior" onclick="location.href='@Url.Action("SubstancesIndex", "Medical")';return false;">
                        <span class="glyphicon glyphicon-home"></span>
                        <span>&nbsp; Regresar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="qa-message-list col-md-12 col-xs-12" id="wallmessages">
    <div class="message-item" id="m16">
        <div class="message-inner">
            <div class="avatar pull-left"></div>
            <div class="user-detail">
                <div class="post-meta">
                    <div class="asker-meta">
                        <div class="title_new" align="left">
                            <div class="title-word_new">
                                <p>
                                    @{
                                        var c = db.ActiveSubstances.Where(x => x.ActiveSubstanceId == ActiveSubstanceId && x.Active == true).ToList();
                                    }
                                    <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">Sustancia Activa: <span style="color: #de5145">@c[0].Description</span> </span>
                                    <input type="text" value="@c[0].ActiveSubstanceId" id="ActiveSubstanceId" style="display:none" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<ul class="nav nav-tabs">
    <li class="ldr active"><a href="#" onclick="location.href='@Url.Action("IMAS", "Medical")';return false;" class="text-center">Interacciones <br />Medicamento - Alimento.</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("DDD", "Medical")';return false;" class="text-center">Dosis Diaria Definida.</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("IFQ", "Medical")';return false;" class="text-center">Incompatibilidades <br />  Físico Químicas.</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("RE", "Medical")';return false;" class="text-center">Riesgo en el Embarazo.</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("DT", "Medical")';return false;" class="text-center">Duplicidad Terapéutica.</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("Contraindications", "Medical")';return false;" class="text-center">Contraindicaciones.</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("Interactions", "Medical")';return false;" class="text-center">Interacciones <br />Medicamentosas.</a></li>
</ul>
<br />
<div class="row">
    <div class="col-lg-12">
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm())
                        {
                        <div class="input-group stylish-input-group pull-right">
                            @Html.TextBox("FoodName", "", new { @class = "form-control", style = "color:red", Placeholder = "Texto a buscar..." })
                            <span class="input-group-addon ldr" style="width:0" id="btnSearchProducts">
                                <button type="submit">
                                    <span class="glyphicon glyphicon-search" style="color:black"></span>
                                </button>
                            </span>
                        </div>
                        }
                    </div>
                </div>
                <br />
                <br />
                <div class="table-responsive scrollbar1">
                    @_datagridDT.GetHtml(
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        tableStyle: "webgrid-table1 table-hover",
                        mode: WebGridPagerModes.All,
                        columns: new[] {
                        _datagridDT.Column("", header: "Nombre de Elemento", format: @<text>
                                @{
                                    <span class="display-mode"> <label id="lblFoodName">@item.Description</label> </span>
                                    <input id="lblFoodId" style="display:none;" value="@item.FoodId" />
                                }
                        </text>),
                    _datagridDT.Column("", header: "Agregar", format: @<text>
                        @{
                            <button class="btn btn-success btn-sm" value="@item.FoodId" onclick="GetIMCatalogsByActiveSubstance($(this))">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        }
                    </text>, style:"column5 text-center")
                    })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm())
                        {
                            <div class="input-group stylish-input-group pull-right">
                                @Html.TextBox("FoodNameAS", "", new { @class = "form-control", style = "color:red", Placeholder = "Texto a buscar..." })
                                <span class="input-group-addon ldr" style="width:0" id="btnSearchProducts">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search" style="color:black"></span>
                                    </button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <br />
                <div class="table-responsive scrollbar1">
                    @_datagridAS.GetHtml(
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        tableStyle: "webgrid-table1 table-hover",
                        mode: WebGridPagerModes.All,
                        columns: new[] {
                        _datagridAS.Column("", header: "Nombre de Elemento", format: @<text>
                                @{
                                    <span class="display-mode"> <label id="lblFoodName">@item.Description</label> </span>
                                    <input id="lblFoodId" style="display:none;" value="@item.FoodId" />
                                }
                        </text>),
                    _datagridAS.Column("", header: "Agregar", format: @<text>
                        @{
                            <button class="btn btn-success btn-sm" value="@item.FoodId" onclick="GetIMCatalogsByActiveSubstance($(this))">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        }
                    </text>, style:"column5 text-center")
                    })
                </div>
            </div>
        </div>
    </div>
</div>

<button id="btnCatalogsIM" data-toggle="modal" data-target="#CatalogsIM" style="display:none" class="btn btn-danger btn-sm">Messages</button>
<div class="modal fade" data-backdrop="false" id="CatalogsIM" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" style="color: #337ab7;" id="messageheader"><i></i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <div class="qa-message-list col-md-12 col-xs-12" id="wallmessages">
                    <div class="message-item" id="m16">
                        <div class="message-inner">
                            <div class="avatar pull-left"></div>
                            <div class="user-detail">
                                <div class="post-meta">
                                    <div class="asker-meta">
                                        <div class="title_new" align="left">
                                            <div class="title-word_new">
                                                <p>
                                                    <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">Sustancia Activa: <span style="color: #de5145">@c[0].Description</span> </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="title_new" align="left">
                                            <div class="title-word_new">
                                                <p>
                                                    <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">Elemento: <span style="color: #de5145" id="ElementNameSPN"></span> </span>
                                                    <input type="text" id="FoodIdtxt" style="display:none" />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <ul class="nav nav-tabs">
                            <li class="ldr active"><a href="#" onclick="location.href='@Url.Action("IMAS", "Medical")';return false;" class="text-center">Severidad</a></li>
                            <li class="ldr"><a href="#" onclick="location.href='@Url.Action("DDD", "Medical")';return false;" class="text-center">Referencias Clinicas</a></li>
                        </ul>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <span style="color: #de5145; font-size: 16px; text-transform: none; font-weight: normal;">Catalogo de Severidades</span>
                        <br />
                        <br />
                        <div>
                            <table class="table-hover table-responsive">
                                <thead class="webgrid-header">
                                    <tr>
                                        <th style="width:20%">Severidad</th>
                                        <th>Descripción</th>
                                        <th>Agregar</th>
                                    </tr>
                                </thead>
                                <tbody id="TableCatalogSeverities"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center" id="divbtncloseerror">
                <button class="btn btn-primary" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
            </div>
        </div>
    </div>
</div>


<button id="btnAddClinicalSumary" data-toggle="modal" data-target="#AddClinicalSumary" style="display:none" class="btn btn-danger btn-sm">Hipersensibility</button>
<div class="modal fade" data-backdrop="false" id="AddClinicalSumary" role="dialog" style="top:20%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" style="color: #337ab7;" id="messageheaderHyperCNT"><i>Agregar Resumen Clinico</i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <input type="text" id="SeverityIdtxt" class="form-control" style="display:none" />
                <span style="color: #de5145; font-size: 16px; text-transform: none; font-weight: normal;" id="IMASeveritytxt"></span>
                <br />
                <br />
                <textarea class="form-control" id="ClinicalSumary"></textarea>
            </div>
            <div class="modal-footer text-center" id="divfooterHyperCNT">
                <button class="btn btn-primary" onclick="SaveClinicalSumary()">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="CancelClinicalSumary()">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>&nbsp; Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>