@using Web.Models;
@{
    ViewBag.Title = "Interactions";
    Web.Models.Sessions.SessionLI _Session = (Web.Models.Sessions.SessionLI)Session["SessionLI"];
    Medinet db = new Medinet();
    Web.Models.Class.GetInteractions Count = Model;
    int CountryId, DivisionId, ProductId, PharmaFormId, CategoryId, EditionIdS, BookId;

    getData getData = new Web.Models.getData();

    List<Web.Models.Class.GetRowsPerPage> Rows = getData.GetRowsPerPage(Model);

    WebGrid _datagridAS = new WebGrid(Count.ActiveSubstancesWithoutInteractions, rowsPerPage: Convert.ToInt32(Rows[0].Pager));
    WebGrid _datagridPG = new WebGrid(Count.PharmacologicalGroupsWithoutInteraction, rowsPerPage: Convert.ToInt32(Rows[0].PagerPG));
    WebGrid _datagridOE = new WebGrid(Count.OtherElemensWithoutInteractions, rowsPerPage: Convert.ToInt32(Rows[0].PagerOE));

    if (_Session != null)
    {
        CountryId = _Session.CountryId;
        DivisionId = _Session.DivisionId;
        ProductId = Convert.ToInt32(_Session.ProductId);
        PharmaFormId = Convert.ToInt32(_Session.PharmaFormId);
        CategoryId = Convert.ToInt32(_Session.CategoryId);
        EditionIdS = Convert.ToInt32(_Session.EditionId);
        BookId = Convert.ToInt32(_Session.BookId);
    }
    else
    {
        CountryId = 0;
        DivisionId = 0;
        ProductId = 0;
        PharmaFormId = 0;
        CategoryId = 0;
        EditionIdS = 0;
        BookId = 0;
    }
}

@{
    var re = @Count.HTMLContent.Trim();
}

<script>
    var html = $.parseHTML("@Count.HTMLContent.Trim()");

    $(function () {
        $("#divhtml").append(html[0].textContent);
    })
</script>



<div class="row">
    <div class="headergroup">
        <div class="title">
            <div class="title-word" style="font-weight:normal; text-transform:none">Medinet <span style="color:#de5347">v3.0</span></div>
            <div class="title-word" style="font-weight:normal; text-transform:none;"><strong style="color:#000000;">Médicos</strong> | Laboratorios y productos</div>
        </div>
    </div>
    <br />
    <nav style="background: rgba(233, 233, 233, 0.11); border-radius: 10px;" class="navbar navbar-default">
        <input type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav hov">
                    <li style="background: rgba(233, 233, 233, 0.01);" class="dropdown navbar-default hov">
                        <a class="ldr" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="location.href='@Url.Action("Content", "Medical", new { CId = CountryId , BId = BookId , EId = EditionIdS , DId = DivisionId })';return false;">
                            Productos
                            <span style=" margin-left:5px;" class="glyphicon glyphicon-chevron-right">
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav hov">
                    <li style="background: rgba(233, 233, 233, 0.01);" class="dropdown navbar-default hov">
                        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Interacciones Medicamentosas<span style="margin-left:5px;" class="glyphicon glyphicon-chevron-right"></span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn navbar-brand ldr" title="Anterior" onclick="location.href='@Url.Action("Content", "Medical", new { CId = CountryId , BId = BookId , EId = EditionIdS , DId = DivisionId })';return false;">
                            <span class="glyphicon glyphicon-home"></span>
                            <span>&nbsp; Regresar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="qa-message-list col-md-12 col-xs-12" id="wallmessages">
        <div class="message-item" id="m16">
            <div class="message-inner">
                <div class="avatar pull-left"></div>
                <div class="user-detail">
                    <div class="post-meta">
                        <div class="asker-meta">
                            <div class="title_new" align="left">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var c = db.Countries.Where(x => x.CountryId == CountryId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size:18px; text-transform:none; font-weight:normal;">País: <span style="color: #de5145">@c[0].CountryName</span> </span>
                                    </p>
                                </div>
                            </div>
                            <div class="title_new">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var d = db.Divisions.Where(x => x.DivisionId == DivisionId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size: 18px; text-transform: none; font-weight: normal;">Laboratorio: <span style="color: #de5145; ">@d[0].Description</span></span>
                                        <input type="text" value="@d[0].DivisionId" id="DivisionId" style="display:none" />
                                    </p>
                                </div>
                            </div>
                            <div class="title_new">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var p = db.Products.Where(x => x.ProductId == ProductId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size: 18px; text-transform: none; font-weight: normal;">Producto: <span style="color: #de5145; ">@p[0].Brand</span></span>
                                        <input type="text" value="@p[0].ProductId" id="ProductId" style="display: none" />
                                    </p>
                                </div>
                            </div>
                            <div class="title_new">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var pf = db.PharmaceuticalForms.Where(x => x.PharmaFormId == PharmaFormId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size: 18px; text-transform: none; font-weight: normal;">Forma Farmacéutica: <span style="color: #de5145; ">@pf[0].Description</span></span>
                                        <input type="text" value="@pf[0].PharmaFormId" id="PharmaFormId" style="display: none" />
                                    </p>
                                </div>
                            </div>
                            <div class="title_new">
                                <div class="title-word_new">
                                    <p>
                                        @{
                                            var ct = db.Categories.Where(x => x.CategoryId == CategoryId).ToList();
                                        }
                                        <span class="qa-message-when-data" style="font-size: 18px; text-transform: none; font-weight: normal;">Categoría: <span style="color: #de5145; ">@ct[0].Description</span></span>
                                        <input type="text" value="@ct[0].CategoryId" id="CategoryId" style="display:none" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<ul class="nav nav-tabs">
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("Clasification", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS })';return false;">Sustancias Activas</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("ATCEphMRA", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS })';return false;">ATC EphMRA</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("Contraindications", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS, DivisionId = DivisionId })';return false;">Contraindicaciones</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("CIE", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS })';return false;">CIE-10</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("ATCOMS", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS })';return false;">ATC OMS</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("AdministrationRoutes", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS })';return false;">Vías de Administración</a></li>
    <li class="ldr active"><a href="#" onclick="location.href='@Url.Action("Interactions", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS, DivisionId = DivisionId })';return false;">Interacciones Medicamentosas</a></li>
    <li class="ldr"><a href="#" onclick="location.href='@Url.Action("Indications", "Medical", new { ProductId = ProductId, PharmaFormId = PharmaFormId, CategoryId = CategoryId, EditionId = EditionIdS, DivisionId = DivisionId })';return false;">Indicaciones</a></li>
</ul>
<br />
<br />
<div class="row">
    <div class="col-lg-3">
        <table style="width:100%" class="table-hover">
            <thead class="webgrid-header">
                <tr>
                    <th>Sustancias del Producto</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Web.Models.Class.GetActiveSubstancesWithoutInteractions item in Count.ActiveSubstancesByProduct)
                    {
                        <tr>
                            <td class="SubstanceInteract">
                                <span>@item.Description</span>
                                <input type="text" value="@item.ActiveSubstanceId" id="inpActiveSubstanceId" style="display:none" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-7">
        <div id="divhtml" class="form-control scrollbar1" style="width:100%; height:250px; text-align:justify;"></div><br />
        <button class="btn btn-danger btn-sm pull-right ldr" onclick="NoInteractions()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            <span>&nbsp; No reporta Interacciones</span>
        </button>
    </div>
    <div class="col-lg-2" style="vertical-align:middle">
        <a target="_blank" class="btn btn-primary btn-sm" href="@Url.Action("PrintInteractions", "Medical", new { ProductId = ProductId, DivisionId = DivisionId, CategoryId = CategoryId, PharmaFormId = PharmaFormId, EditionId = EditionIdS, CountryId = CountryId })">
            <span class="glyphicon glyphicon-print"></span>
            <span>&nbsp; Imprimir</span>
        </a>
    </div>
</div>
<br />
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="GetInteracionMenu($(this))" id="ActiveSubstancesMenu">
                    Sustancias Activas
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <select class="form-control" style="color:red" onchange="GetRowsPerPageInteractions()" id="RowsPerPageActiveSubstances">
                                    <option value="0" id="IdAS_0">Seleccione...</option>
                                    <option value="10" id="IdAS_10">10</option>
                                    <option value="20" id="IdAS_20">20</option>
                                    <option value="50" id="IdAS_50">50</option>
                                    <option value="100" id="IdAS_100">100</option>
                                    <option value="1000" id="IdAS_1000">1000</option>
                                </select>
                            </div>
                            <div class="col-lg-9">
                                @using (Html.BeginForm())
                                {
                                    <div class="input-group stylish-input-group">
                                        @Html.TextBox("Description", "", new { @class = "form-control", style = "color:red", Placeholder = "Texto a buscar..." })
                                        <span class="input-group-addon ldr" style="width:0" id="btnSearchProducts">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search" style="color:black"></span>
                                            </button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive scrollbar1">
                            @_datagridAS.GetHtml(
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        tableStyle: "webgrid-table1 table-hover",
                        mode: WebGridPagerModes.All,
                                 htmlAttributes: new { id = "GridDiv" },
                        columns: new[] {
                        _datagridAS.Column("", header: "Nombre de Sustancia", format: @<text>
                                @{
                                    <span id="spnDescription">@item.Description</span>
                                    <input id="lblActiveSubstanceId" style="display:none;" value="@item.ActiveSubstanceId" />
                                }
                        </text>),
                    _datagridAS.Column("", header: "Agregar", format: @<text>
                                @{
                                    @*<button class="btn btn-success btn-sm" value="@item.ActiveSubstanceId" onclick="AddProductSubstanceInteractions($(this).val())">*@
                                    <button class="btn btn-success btn-sm" value="@item.ActiveSubstanceId" onclick="CheckActiveSubstancesByProduct($(this))">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                }
                    </text>, style:"column5 text-center")
                    })
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="scrollbar1">
                            <table style="width:100%" class="table-hover webgrid-table1">
                                <thead class="webgrid-header">
                                    <tr>
                                        <th>Sustancia del Producto</th>
                                        <th>Sustancia Asociada</th>
                                        <th>Quitar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int cnt = Convert.ToInt32(Count.ProductSubstanceInteractions.LongCount());
                                        if (cnt > 0)
                                        {
                                            foreach (Web.Models.Class.GetProductSubstanceInteractions AS in Count.ProductSubstanceInteractions)
                                            {
                                                <tr>
                                                    <td>
                                                        @AS.ActiveSubstance
                                                        <input id="lblActiveSubstanceIdAsoc" style="display:none;" value="@AS.ActiveSubstanceId" />
                                                    </td>
                                                    <td>
                                                        @AS.SubstanceInteraction
                                                        <input id="lblSubstanceInteractionIdAsoc" style="display:none;" value="@AS.SubstanceInteractId" />
                                                    </td>
                                                    <td class="text-center">
                                                        <button class="btn btn-danger btn-sm" onclick="DeleteSubstanceInteracions($(this))">
                                                            <span class="glyphicon glyphicon-remove"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="GetInteracionMenu($(this))" id="PharmacologicalGroups">
                    Grupos Farmacológicos IPPA
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <select class="form-control" style="color:red" onchange="GetRowsPerPageInteractions()" id="RowsPerPagePharmacologicalGroups">
                                    <option value="0" id="IdPG_0">Seleccione...</option>
                                    <option value="10" id="IdPG_10">10</option>
                                    <option value="20" id="IdPG_20">20</option>
                                    <option value="50" id="IdPG_50">50</option>
                                    <option value="100" id="IdPG_100">100</option>
                                    <option value="1" id="IdPG_1">Ilimitado</option>
                                </select>
                            </div>
                            <div class="col-lg-9">
                                @using (Html.BeginForm())
                                {
                                    <div class="input-group stylish-input-group">
                                        @Html.TextBox("GroupName", "", new { @class = "form-control", style = "color:red", Placeholder = "Texto a buscar..." })
                                        <span class="input-group-addon ldr" style="width:0" id="btnSearchProducts">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search" style="color:black"></span>
                                            </button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive scrollbar1">
                            @_datagridPG.GetHtml(
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        tableStyle: "webgrid-table1 table-hover",
                        mode: WebGridPagerModes.All,
                        columns: new[] {
                        _datagridPG.Column("", header: "Nombre del Grupo Farmacológico", format: @<text>
                                @{
                                    <span class="display-mode"> <label id="lblGroupName">@item.GroupName</label> </span>
                                    <input id="lblPharmaGroupId" style="display:none;" value="@item.PharmaGroupId" />
                                }
                        </text>),
                    _datagridPG.Column("", header: "Agregar", format: @<text>
                                @{
                                    <button class="btn btn-success btn-sm" value="@item.PharmaGroupId" onclick="ChecktPharmacologicalGroupsByProduct($(this))">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                }
                    </text>, style:"column5 text-center")
                    })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="scrollbar1">
                            <table style="width:100%" class="table-hover webgrid-table1">
                                <thead class="webgrid-header">
                                    <tr>
                                        <th>Sustancia del Producto</th>
                                        <th>Nombre del Grupo Farmacológico</th>
                                        <th>Quitar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int cnts = Convert.ToInt32(Count.ProductPharmaGroupInteractions.LongCount());
                                    if (cnts > 0)
                                    {
                                        foreach (Web.Models.Class.GetProductPharmaGroupInteractions AS in Count.ProductPharmaGroupInteractions)
                                        {
                                            <tr>
                                                <td>
                                                    @AS.ActiveSubstance
                                                    <input id="lblActiveSubstanceIdPG" style="display:none;" value="@AS.ActiveSubstanceId" />
                                                </td>
                                                <td>
                                                    @AS.GroupName
                                                    <input id="lblPharmaGroupIdPG" style="display:none;" value="@AS.PharmaGroupId" />
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-sm" onclick="DeletePharmacologicalInteracions($(this))">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" onclick="GetInteracionMenu($(this))" id="OtherElements">
                    Otros Elementos
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <select class="form-control" style="color:red" onchange="GetRowsPerPageInteractions()" id="RowsPerPageOtherElements">
                                    <option value="0" id="IdOE_0">Seleccione...</option>
                                    <option value="10" id="IdOE_10">10</option>
                                    <option value="20" id="IdOE_20">20</option>
                                    <option value="50" id="IdOE_50">50</option>
                                    <option value="100" id="IdOE_100">100</option>
                                    <option value="1" id="IdOE_1">Ilimitado</option>
                                </select>
                            </div>
                            <div class="col-lg-9">
                                @using (Html.BeginForm())
                                {
                                    <div class="input-group stylish-input-group">
                                        @Html.TextBox("ElementName", "", new { @class = "form-control", style = "color:red", Placeholder = "Texto a buscar..." })
                                        <span class="input-group-addon ldr" style="width:0" id="btnSearchProducts">
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-search" style="color:black"></span>
                                            </button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive scrollbar1">
                            @_datagridOE.GetHtml(
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        tableStyle: "webgrid-table1 table-hover",
                        mode: WebGridPagerModes.All,
                        columns: new[] {
                        _datagridOE.Column("", header: "Nombre del Elemento", format: @<text>
                                @{
                                    <span class="display-mode"> <label id="lblElementName">@item.ElementName</label> </span>
                                    <input id="lblElementId" style="display:none;" value="@item.ElementId" />
                                }
                        </text>),
                        _datagridOE.Column("", header: "Agregar", format: @<text>
                                @{
                                    <button class="btn btn-success btn-sm" onclick="CheckOtherElementsByProduct($(this))">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                }
                        </text>, style:"column5 text-center")
                    })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="scrollbar1">
                            <table style="width:100%" class="table-hover webgrid-table1">
                                <thead class="webgrid-header">
                                    <tr>
                                        <th>Sustancia del Producto</th>
                                        <th>Nombre del Elemento</th>
                                        <th>Quitar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                    int cntss = Convert.ToInt32(Count.ProductotherInteractions.LongCount());
                                    if (cntss > 0)
                                    {
                                        foreach (Web.Models.Class.GetProductotherInteractions AS in Count.ProductotherInteractions)
                                        {
                                            <tr>
                                                <td>
                                                    @AS.ActiveSubstance
                                                    <input type="text" value="@AS.ActiveSubstanceId" id="lblActiveSubstanceIdOE" style="display:none" />
                                                </td>
                                                <td>
                                                    @AS.ElementName
                                                    <input type="text" value="@AS.ElementId" id="lblElementIdAsoc" style="display:none" />
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-danger btn-sm" onclick="DeleteOtherElementInteracions($(this))">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="btnASINT" data-toggle="modal" data-target="#ASINT" style="display:none" class="btn btn-danger btn-sm">Messages</button>
<div class="modal fade" id="ASINT" role="dialog" style="top:25%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" style="color: #337ab7;" id="messageheaderASINT"><i></i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <div id="DivASINT"></div>
            </div>
            <div class="modal-footer text-center" id="divbtncloseerror">
                <button class="btn btn-primary" onclick="AddSubstanceInteractionsTI()">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="CancelAddASINT()">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>&nbsp; Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<button id="btnPGINT" data-toggle="modal" data-target="#PGINT" style="display:none" class="btn btn-danger btn-sm">Messages</button>
<div class="modal fade" id="PGINT" role="dialog" style="top:25%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" style="color: #337ab7;" id="messageheaderPGINT"><i></i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <div id="DivPGINT"></div>
            </div>
            <div class="modal-footer text-center" id="divbtncloseerror">
                <button class="btn btn-primary" onclick="AddPharmaGroupInteractions()">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="CancelAddAPGNT()">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>&nbsp; Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<button id="btnOEINT" data-toggle="modal" data-target="#OEINT" style="display:none" class="btn btn-danger btn-sm">Messages</button>
<div class="modal fade" id="OEINT" role="dialog" style="top:25%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" style="color: #337ab7;" id="messageheaderOEINT"><i></i></h3>
            </div>
            <div class="modal-body" id="contenteditions">
                <div id="DivOEINT"></div>
            </div>
            <div class="modal-footer text-center" id="divbtncloseerror">
                <button class="btn btn-primary" onclick="AddOtherElementsInteractions()">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span>&nbsp; Aceptar</span>
                </button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="CancelAddAOENT()">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>&nbsp; Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>